body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Calibri';
    margin: 0;
}

header {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.left-links, .right-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.left-links {
    padding-left: 24px;
}

.right-links {
    padding-right: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    text-align: center;
    background-color: #3882f6;
    color: white;
    font-family: 'Roboto', 'Calibri';
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random h2 {
    padding: 15px;
}

.random-container {
    display: flex;
}

.random-item {
    max-width: 200px;
    text-align: center;
    padding-bottom: 100px;
}

.random-item img {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.random-item p {
    display: inline-block;
    width: 125px;
    font-size: 12px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px 550px;
}

.quote-text {
    font-size: 36px;
    font-family: 'Roboto Light';
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
}

.cta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    margin: 100px 400px;
    padding: 40px 10px;
    border-radius: 10px;
}

.cta-text {
    color: white;
}

.cta-text > * {
    margin: 0;
}

.cta-button button {
    text-align: center;
    background-color: #3882f6;
    color: white;
    font-family: 'Roboto', 'Calibri';
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 16px;
}